*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


.App {
    height: 100%;
    margin: 0;
    background-image: url('./background_photo_desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #fff;

}
  

  h1 {
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 1em;
  }
  
  .App-playlist {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  @media only screen and (max-width: 1020px) {
    .App-playlist {
      align-items: center;
      flex-direction: column;
    }
  }