.SearchBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
  }
  
  .SearchBar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .SearchBar .SearchButton {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 40px;
  }
  
  .SearchBar .SearchButton:hover {
    background-color: #14833b;
  }